<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Вологодский лес - дешевые пиломатериалы в Липецке</title>
        <meta name="description" content="Вологодский лес - дешевые пиломатериалы в Липецке">
        <meta name="keywords" content="Вологодский лес дешевые пиломатериалы Липецк доска брус вагонка имитация бруса половая доска блок хаус низкие цены бесплатная доставка город область личный транспорт огромный ассортимент скидки">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/assets/images/ico.png" type="image/x-icon">

        <meta property="og:title" content="Вологодский лес - дешевые пиломатериалы в Липецке"/>
        <meta property="og:image" content="/assets/images/forest.png"/>
        <meta property="og:description" content="Пиломатериалы из вологодского леса по доступным ценам. Премиум и бюджетные категории. Доставка личным транспортом."/>
        
        <meta itemprop="name" content="Вологодский лес - дешевые пиломатериалы в Липецке"/>
        <meta itemprop="description" content="Пиломатериалы из вологодского леса по доступным ценам. Премиум и бюджетные категории. Доставка личным транспортом."/>
        <meta itemprop="image" content="/assets/images/forest.png"/>
        
        <meta name="twitter:title" content="Вологодский лес - дешевые пиломатериалы в Липецке"/>
        <meta name="twitter:description" content="Пиломатериалы из вологодского леса по доступным ценам. Премиум и бюджетные категории. Доставка личным транспортом."/>
        <meta name="twitter:image:src" content="/assets/images/forest.png"/>

        ${link-path}
    </head>
    <body>   
        <div id="root"></div>
        <script type="text/javascript" async src="${js-path}index.js?v={version}"></script>
    </body>
</html>