<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Вологодский лес - дешевые пиломатериалы в Липецке</title>
        <meta name="description" content="Вологодский лес - дешевые пиломатериалы в Липецке">
        <meta name="keywords" content="Вологодский лес дешевые пиломатериалы Липецк доска брус вагонка имитация бруса половая доска блок хаус низкие цены бесплатная доставка город область личный транспорт огромный ассортимент скидки">
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="/assets/images/ico.png" type="image/x-icon">
        <meta name="yandex-verification" content="a63a11a89799ce59" />
        <meta name="google-site-verification" content="nfxTIlHYmzMPonB_NKNAKQgmoyO-iVVdlDF0KDgBbHw" />
        <meta property="og:title" content="Вологодский лес - дешевые пиломатериалы в Липецке"/>
        <meta property="og:image" content="/assets/images/forest.png"/>
        <meta property="og:url" content="http://вологодскийлес48.рф"/>
        <meta property="og:type" content="profile"/>
        <meta property="og:description" content="Пиломатериалы из вологодского леса по доступным ценам. Премиум и бюджетные категории. Доставка личным транспортом."/>
        <meta name="twitter:title" content="Вологодский лес - дешевые пиломатериалы в Липецке"/>
        <meta name="twitter:description" content="Пиломатериалы из вологодского леса по доступным ценам. Премиум и бюджетные категории. Доставка личным транспортом."/>
        <meta name="twitter:image:src" content="/assets/images/forest.png"/>
        ${link-path}
    </head>
    <body>   
        <div id="root"></div>
        <div itemscope itemtype="http://schema.org/Organization" style="display:none">
            <span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
                <img itemprop="image" src="http://вологодскийлес48.рф/assets/images/ico.png" />
            </span> 
            <meta itemprop="description" content="Пиломатериалы из вологодского леса по доступным ценам. Премиум и бюджетные категории. Доставка личным транспортом."/>
            <meta itemprop="image" content="/assets/images/forest.png"/>
            <meta itemprop="name" content="Вологодский лес - дешевые пиломатериалы в Липецке"></meta>
            <meta itemprop="telephone" content="+7 (4742) 71-82-94, 34-80-94, +7 (951) 301-84-59"></meta>
            <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">Трубный проезд, вл. 6</span>
                <span itemprop="postalCode">398037</span>
                <span itemprop="addressLocality">г. Липецк</span>
            </span>
            <a itemprop="url" href="http://вологодскийлес48.рф"></a>
        </div>
        <script type="text/javascript" async src="${js-path}index.js?v={version}"></script>
</html>